<div class="navbar navbar-expand navbar-dark custom-navbar-bg" style="padding-left: 120px; padding-right: 120px;">
  <div class="container-fluid">
    <div class="row w-100 align-items-center">
      <div class="col-md-3 d-flex justify-content-center align-items-center">
        <%= link_to "#", class: "custom-navbar-brand" do %>
          <%= image_tag "https://res.cloudinary.com/dqbzdz3ob/image/upload/v1722380840/covisa_10_1_hacj7j.png", class: "custom-navbar-logo", style: "width: 33%;" %>
        <% end %>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <ul class="navbar-nav d-flex justify-content-center align-items-center">
          <li class="nav-item">
            <%= link_to "Accueil", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Actualités", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Ressources", "#", class: "nav-link" %>
          </li>
        </ul>
      </div>
      <div class="col-md-3 d-flex justify-content-center align-items-center">
        <ul class="navbar-nav d-flex justify-content-center align-items-center">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to current_user.nickname, "#", class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= image_tag "https://res.cloudinary.com/dqbzdz3ob/image/upload/v1722384247/elo_m8af4f.png", class: "avatar rounded-circle", alt: "dropdown menu" %>
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Action", "#", class: "dropdown-item" %>
                <%= link_to "Another action", "#", class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
