<div class="card border-0" style="width: 18rem; position: relative;">
  <%= link_to post_path(post) do %>
    <div class="card-img-container">
      <% if post.photo.attached? %>
        <%= cl_image_tag(post.photo.key, class: "card-img-top rounded", transformation: [
              { width: 500, crop: "scale" },
              { quality: "auto", fetch_format: "auto" }
            ]) %>
      <% else %>
        <img src="https://via.placeholder.com/150" class="card-img-top rounded" alt="Default Image">
      <% end %>
    </div>
  <% end %>
  <div class="tags-overlay">
    <% post.categories.each do |category| %>
      <p class="badge"><%= category.name %></p>
    <% end %>
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="card-title"><%= post.title %></h5>
      <% if current_user.favorited?(post) %>
        <%= link_to post_favorite_path(post), method: :delete, data: { controller: "favorite", action: "favorite#toggleFavorite" } do %>
          <i class="fa-solid fa-heart favorite" style="color: #ec0941;" data-favorite-target="icon"></i>
        <% end %>
      <% else %>
        <%= link_to post_favorite_path(post), method: :post, data: { controller: "favorite", action: "favorite#toggleFavorite" } do %>
          <i class="fa-solid fa-heart" style="color: #707b8f;" data-favorite-target="icon"></i>
        <% end %>
      <% end %>
    </div>
    <div class="card-content">
      <%= post.content.split[0...200].join(' ') + (post.content.split.size > 200 ? '...' : '') %>
    </div>
    <div class="card-text"><%= post.user.nickname %> | <%= post.created_at.strftime("%B %d, %Y ") %></div>
  </div>
  <div class="card-body">
    <%= link_to "En lire +", post, class: "btn custom-btn" %>
  </div>
</div>
